.todo-container {
  align-items: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}




.header {
  padding: 30px;
 font-size: calc(40px + 2vmin);
  font-family: 'Roboto';
  color: whitesmoke;
}

